<div class="jumbotron infojumbo jumbotron-fluid vertical-center">
  <div class="container">
    <h1 class="featurette-heading text-center"> helpful information</h1>
    <p class="lead">links to websites, events, acticles, blogs etc</p>
  </div>
</div>


<div class="container marketing">

<hr class="featurette-divider">
 <div class="featurette">
   <a href="https://www.meetup.com/" target="blank"><img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("Meetup.jpg")%></a>
   <h3 class="featurette-heading">Meetup</h3>
   <ul class="lead">
     <li>On your journey you are going to find out that networking is very important!</li>
     <li>At Meetups in the tech community you will find tons of topics in your area of interest.</li>
     <li>Most importantly you get to meet great like minded folks who are there to learn, mentor and mingle with new people in the industry.</li>
     <li>The food and drinks are pretty nice too!</li>
   </ul>
 </div>







<hr class="featurette-divider">
 <div class="featurette">
  <a href="https://teamtreehouse.com" target="_blank"><img class="featurette-image img-circle img-responsive pull-left" <%=image_tag("Treehouse-Logo.jpg")%></a>

   <h3 class="featurette-heading">Treehouse</h3>
   <ul class="lead">
     <li>Check out Treehouse for great videos of instruction when concepts get rough!</li>
     <li>There are free trials and monthly subscriptions at $25/month or actual degree/certification options.</li>
   </ul>
 </div>

 <hr class="featurette-divider">
 <div class="featurette">
   <a href="https://www.w3schools.com" target="_blank"><img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("W3Schools.jpg")%></a>
   <h3 class="featurette-heading">w3schools.com</h3></a>
   <ul class="lead">
     <li>w3schools.com is a great resource for all of your HTML, CSS, Bootstrap, JavaScript, SQL needs!</li>
     <li>Here we found many helpful sections where it makes things easy when copying/pasting sections of code to try in your projects.</li>
   </ul>
 </div>
 <hr class="featurette-divider">
 <div class="featurette">
   <a href="https://www.youtube.com" target="_blank"><img class="featurette-image img-circle img-responsive pull-left" <%=image_tag("YouTubeLogo.jpg")%></a>
   <h3 class="featurette-heading">YouTube</h3>
   <ul class="lead">
     <li>YouTube as everyone knows has become the new, "Google it!" phrase for folks looking to do things.</li>
     <li>We found it's no different with some of the concepts we learned in class.</li>
     <li>You may even run into a motivational video to keep you going!</li>
   </ul>
 </div>
 <hr class="featurette-divider">
 <div class="featurette">
   <a href="https://www.stackoverflow.com" target="_blank"><img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("StackOverflow.jpg")%></a>
   <h3 class="featurette-heading">StackOverflow</h3>
   <ul class="lead">
     <li>Get an error?? You will likely find this resource very helpful to fix those bugs.</li>
     <li>When Googling one's way to success we found StackOverflow as the greatest help!</li>
     <li>This place has it all and is one of the largest communities online with vast resources and helpful folks.</li>
   </ul>
 </div>
